/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.block-page {
  background-color: #21759b;
  color: #fff;
  padding: 2px;
  .container {
    width: 80%;
    max-width: 840px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(0, 1fr) 33.33333%;
  }
  .page-header {
    grid-column: 1/3;
    background: green;
  }
  .page-author {
    display: grid;
    grid-template-columns: auto auto auto auto; 
  }
  .page-content {
    grid-column: 1/2;
    grid-row: 2;
    background: gray;
  }
  aside {
    grid-column: 2/3;
    grid-row: 2;
    background: lightBlue;
  }
}



